body {
    background-image: url("/assets/img/burger.jpg");
}

body,
.jumbotron,
#lefthead,
#righthead {
    font-family: 'Cedarville Cursive', Cursive;
}

.jumbotron {
    background-image: url("/assets/img/burger-logo.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 10px;
    color: white;
}

/* .jumbotron > h1 {
    font-family: 'Cedarville Cursive', Cursive;
} */

#addburger {
    background-color: skyblue;
}

#color-override {
    color: #fff;
}

#lefthead {
    background-color: skyblue;
    color: white;
    text-align: center;
    font-size: 1.2em;
}

#righthead {
    background-color: maroon;
    color: white;
    text-align: center;
    font-size: 1.2em;
}